body{
    padding: 20px 40px;
}

.container ul{
    list-style: none;
    margin-left: 0px;
    padding-left: 0;
}
.container ul button{
    display: inline-block;
    margin-right: 10px;
    font-size: 18x;
    font-weight: bold;
    border: none;
    background:none;
}
.container ul button:hover{
    background-color: var(--lightgrey);
}
.container .container-courses{
    padding: 32px;
    width: 100%;
    border: 1px solid var(--grey);
    /* height: 800px; */
}
.container .container-courses button{
    font-size: 15px;
    height: 35px;
    font-weight: bold;
    background: none;
    border: 1px solid var(--grey);
    margin-bottom: 20px;
}
.container .container-courses button:hover{
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
}
/* card desgin */
.container .container-courses .card-box img{
    /* height: 150px; */
} 
.container .container-courses .card-box h5{
    margin: 5px 0px;
    font-weight: bold;
    font-size: 18px;
}
.container .container-courses .card-box p{
    margin: 5px 0px;
    color: var(--grey);
}
.container .container-courses .card-box .num-rate, .checked{
    font-weight: bold;
    font-size: 18px;
    color: var(--orange);
}
.container .container-courses .card-box .watch-rate{
    color: var(--grey);
}
.container .container-courses .card-box .price{
    display: flex;
    gap: 10px;
    align-items: center;
}
.container .container-courses .card-box .price .price-after{
    font-weight: bold;
    font-size: 20px;
    align-items: center;
}
.container .container-courses .card-box .price .price-before{
    color: var(--grey);
    font-size: 15px;
    align-items: center;
    text-decoration: line-through;
}
.carousel-control-prev,
.carousel-control-next{
    border-radius: 50%;
    top: 50% !important;
    width: 50px !important;
    height: 50px !important;
    background: var(--black) !important;
    font-weight: bold;
}